.subMenu{
    display: flex;
    width: 25%;
    margin-left: 1119px;
    justify-content: space-around;
}

@media (min-width:900px) {
    .subMenu{
        display: flex;
        width: 61%;
        margin-left: 0px;
        justify-content: space-around;
    }
}